
{% extends 'Adminbase.html.twig' %}
{% block title %}Shoping Admin Panel{% endblock %}
{% block content %}
<!-- MAIN CONTENT-->

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-30">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Product Listesi  </strong>
                            {{ include('flash.html.twig') }}
                        </div>
    <h1>Orders index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Amount</th>
                <th>Name</th>
                <th>Adres</th>
                <th>City</th>
                <th>Phone</th>
                <th>Shipinfo</th>
                <th>Status</th>
                <th>Note</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.userid }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.adres }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.shipinfo }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.note }}</td>

                <td>
                    <a href="#" onclick="javascript:openWin('{{  path('admin_orders_show',{'id': order.id}) }}','','toolbar=no,location=no,directories=no,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=500,height=500')">
                        göster </a>


                </td>
                <td>
                {{ include('orders/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orders_new') }}">Create new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- END PAGE CONTAINER-->
{% endblock %}

